<div class="dialog-form">
    <h3>Produto</h3>

    <form [formGroup]="form">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" formControlName="nome">
        </div>

        <div class="form-group">
            <label for="preco">Preço</label>
            <input type="number" class="form-control" id="preco" formControlName="preco">
        </div>

        <div class="form-group">
            <label for="empresa">Empresa</label>
            <select id="empresa" formControlName="empresa" class="form-control">
                <option *ngFor="let e of empresas" [value]="e.id">
                    {{ e.nome }}
                </option>
            </select>
        </div>


        <input type="button" class="btn btn-primary" value="Salvar" (click)="salvar()">
        <input type="button" class="btn btn-secondary" value="Cancelar" (click)="cancelar()">

    </form>
</div>