
<button>Novo Produto</button>

<table>
    <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Empresa</th>
        <th>Editar</th>
        <th>Excluir</th>
    </tr>
    <tr *ngFor="let produto of produtos">
        <td>{{produto.nome}}</td>
        <td>{{produto.preco}}</td>
        <td>{{produto.empresa.nome}}</td>
        <td>
            <a (click)="abrirModalEditar(produto)">
                <div><i class="gg-pen"></i></div>
            </a>
        </td>
        <td>
            <a (click)="confirmarExclusao(produto)">
                <div><i class="gg-trash"></i></div>
            </a>
        </td>
    </tr>
</table>