
<div class="main-action">
    <h2>Empresas</h2>
    <button class="btn btn-primary">Nova Empresa</button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">CNPJ</th>
            <th scope="col">Editar</th>
            <th scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let empresa of empresas">
            <td>{{ empresa.nome }}</td>
            <td>{{ empresa.cnpj }}</td>
            <td class="table-action">
                <div class="table-action"><i class="gg-pen"></i></div>
            </td>
            <td class="table-action">
                <div class="table-action"><i class="gg-trash"></i></div>
            </td>
        </tr>
    </tbody>
</table>