
<div class="main-action">
    <h2>Vendas</h2>
    <button 
        class="btn btn-primary" 
        (click)="novaVenda()">
        Nova Venda
    </button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Número</th>
            <th scope="col">Data</th>
            <th scope="col">Itens</th>
            <th scope="col">Total</th>
            <th scope="col">Editar</th>
            <th scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let venda of vendas">
            <td>{{ venda.numero }}</td>
            <td>{{ venda.data | date:'short' }}</td>
            <td>{{ venda.itemVendas.length }}</td>
            <td>{{ venda.total | currency:'BRL' }}</td>
            <td class="table-action" (click)="editarVenda(venda)">
                <div class="table-action">
                    <i class="gg-pen"></i>
                </div>
            </td>
            <td class="table-action" (click)="confirmarExcluirVenda(venda)">
                <div class="table-action">
                    <i class="gg-trash"></i>
                </div>
            </td>
        </tr>
    </tbody>
</table>