/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

div.table-action {
    margin-left: 1.3em;
    margin-top: 6px;
    
}

td.table-action{
    width: 40px;
    cursor: pointer;
}

div.main-action {
    text-align: right;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}